<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
       <footer id="main-footer">
            <div class="container">
                <div class="row row-wrap">
                    <div class="col-md-3">
                        <a class="logo" href="/">
                            <%= image_tag("LOTUS_Nomads_logo", height: '50', width: '110') %></a>
                        <p class="mb20">Resort and hotel bookings, restaurants, reviews and trip advice for the socially responsible traveller!</p>
                        <ul class="list list-horizontal list-space">
                            <li>
                                <a class="fa fa-facebook box-icon-normal round animate-icon-bottom-to-top" href="https://www.facebook.com/LOTUSalliance"></a>
                            </li>
                            <li>
                                <a class="fa fa-twitter box-icon-normal round animate-icon-bottom-to-top" href="https://twitter.com/LOTUSNomads"></a>
                            </li>
                            <li>
                                <a class="fa fa-google-plus box-icon-normal round animate-icon-bottom-to-top" href="https://plus.google.com/+LotusnomadsOrg"></a>
                            </li>
                            <li>
                                <a class="fa fa-instagram box-icon-normal round animate-icon-bottom-to-top" href="https://instagram.com/lotusnomads/"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h4>Newsletter</h4>
                        <form>
                            <label>Enter your E-mail Address</label>
                            <input type="text" class="form-control">
                            <p class="mt5"><small>*We Never Send Spam</small>
                            </p>
                            <input type="submit" class="btn btn-primary" value="Subscribe">
                        </form>
                    </div>
           <div class="col-md-2">
                        <ul class="list list-footer">
                            <li><a href="/about">About Us</a>
                            </li>
                            <li><a href="/hotels">Book</a>
                            </li>
                            <li><a href="/destinations">Destinations</a>
                            </li>
                            <!-- <li><a href="/blog">Blog</a></li> -->
                            <li><a href="/faq">FAQ</a>
                            </li>
                            <li><a href="/contact">Contact</a>
                            </li>
                            <li><a href="/privacy">Privacy Policy</a>
                            </li>
                            <li><a href="/terms">Terms of Use</a>
                            </li>
                            <li><a href="http://lotusalliance.org">LOTUS Alliance</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4>Drop Us a Line!</h4>
                        <h4 class="text-color"></h4>
                        <h4><a href="hello@lotusnomads.org" class="text-color">hello@lotusnomads.org</a></h4>
                        <p>We'd Love to Hear From You</p>
                    </div>

                </div>
            </div>
        </footer>

        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    </div>
</body>

</html>



