<%= render 'head' %>
<%= render 'nav' %>

<div class="container">
	<h1 class="page-title">About Us</h1>
</div>


<div class="container">
	<div class="row">
		<div class="col-md-8">
			<p class="text-bigger">The Golden Rule:
Treat others the way you want to be treated.<br>
Remember that rule from grade school? We do and we’re bringing it back…</p>
			<p class="text-bigger">The companies listed on Nomads are those that champion their employees and steward their communities and supply chains. While we are all for the environment, the tourism industry is the largest employer in the world, generating 10% of all jobs. Yet, 75% of corporate responsibility within the sector leans towards green initiatives. Further, 60 million additional positions are projected by 2018 primarily in emerging economies that have more lax labor and human rights practices. </p>
		</div>
	</div>
	<div class="gap"></div>
</div>
<div class="bg-holder">
	<div class="bg-parallax" style="background-image:url(img/1280x852.png);"></div>
	<div class="bg-mask"></div>
	<div class="bg-holder-content">
		<div class="container">
			<div class="gap gap-big text-white">
				<div class="row">
					<div class="col-md-10">
						<h2>Globetrot Graciously With Us.</h2>
						<p class="text-bigger">Companies listed on Nomads are either members of a third party social initiative including The Code, B Lab and Catalyst Kitchens or have been vetted by Nomads staff who know what they are looking for in terms of social responsibility. We’re bringing you the great ones, those that have figured out how to balance people and profit and deliver a stellar product to inspire you to seek responsible services and enable companies to provide them. The benchmarks below are those that have been identified to have a significant positive effect on employees, surrounding community and business operations.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="gap"></div>
	<h2>Our Partners</h2>
	<div class="row">
		<div class="col-md-8">
			<p class="text-bigger">Our partners are leading examples of organizations working in the responsible tourism and/or anti-human trafficking space. They are working to educate individuals and companies as well as support victims and survivors. We are privileged to endorse and work along side them.</p>
		</div>
	</div>
	<div class="gap"></div>
</div>
<%= render 'footer' %>