<%= render 'head' %>
<%= render 'nav' %>

<div class="container">
	<h1 class="page-title">About Us</h1>
</div>


<div class="container">
	<div class="row">
		<div class="col-md-8">
			<p class="text-bigger">Felis turpis nostra arcu tempus rutrum hac ullamcorper torquent volutpat pellentesque adipiscing ut elementum sollicitudin sodales congue quam rutrum habitant accumsan elit scelerisque accumsan proin varius purus scelerisque taciti nam</p>
			<p class="text-bigger">Venenatis diam malesuada faucibus euismod congue eleifend ultricies bibendum augue dapibus nostra diam amet tincidunt commodo ullamcorper lorem maecenas nibh</p>
		</div>
	</div>
	<div class="gap"></div>
</div>
<div class="bg-holder">
	<div class="bg-parallax" style="background-image:url(img/1280x852.png);"></div>
	<div class="bg-mask"></div>
	<div class="bg-holder-content">
		<div class="container">
			<div class="gap gap-big text-white">
				<div class="row">
					<div class="col-md-10">
						<h2>Globetrot Graciously With Us.</h2>
						<p class="text-bigger">Scelerisque ornare ante pellentesque id ad eget volutpat consequat aptent lacus penatibus consectetur vivamus magnis ornare venenatis mattis rhoncus interdum quam tempor commodo ultrices augue risus senectus ornare aliquam leo rutrum nam duis nisi fringilla convallis praesent libero faucibus fermentum convallis pretium aptent nisl morbi odio justo vel nascetur tristique pulvinar senectus etiam quam taciti dignissim etiam tincidunt cras molestie</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="gap"></div>
	<h2>Our Partners</h2>
	<div class="row">
		<div class="col-md-8">
			<p class="text-bigger">Our partners are leading examples of organizations working in the responsible tourism and/or anti-human trafficking space. They are working to educate individuals and companies as well as support victims and survivors. We are privileged to endorse and work along side them.</p>
		</div>
	</div>
	<div class="gap"></div>
</div>
<%= render 'footer' %>