<%= render 'head' %>
<%= render 'nav' %>

<div class="container">
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-7">
                    <p>Have Questions? Drop Us a Line and we'll do our best to answer them before we hop on any  more trains, planes or automobiles.</p>
                   
                    <form class="mt30">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input class="form-control" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Message</label>
                            <textarea class="form-control"></textarea>
                        </div>
                        <input class="btn btn-primary" type="submit" value="Send Message" />
                    </form>
                </div>
                <div class="col-md-4">
                    <aside class="sidebar-right">
                        <ul class="address-list list">
                            <li>
                                <h5>Email</h5><a href="#">hello@lotusnomads.org</a>
                            </li>
                         
                            <li>
                                <h5>Twitter</h5><a href="#">LOTUSNomads</a>
                            </li>
                            <li>
                                <h5>Address</h5><address>LOTUS Nomads<br />225 Bush St.<br />San Francisco, CA 94103<br />United States<br /></address>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
            <div class="gap"></div>
        </div>



<%= render 'footer' %>