<%= render 'head' %>
<%= render 'nav' %>

<div class="container">
    <h1 class="page-title">FAQs</h1>
</div>

<div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h4>You’ve got questions…we’ve got answers.</h4>

Q. Does LOTUS Nomads mean anything? </br>
A. It does! Thanks for asking. LOTUS stands for Liberty, Opportunity, Trust, Unity and Security. A LOTUS Nomad is someone who embodies these values in his or her life and believes in the same for others.</br></br>

Q. Why are you addressing human trafficking and labor exploitation?</br>
A. Human trafficking is a 150 billion dollar industry that enslaves approximately 28 million people globally. There are more individuals living in slavery today than in all of history and it is the fastest growing illicit trade. At Nomads, we believe in a safer world for everyone because none of us are free until we all are.</br></br>

Q. What type of organization do you fund? </br>
A. We fund organizations both in the US and internationally that provide job training to adult survivors of human trafficking so that they may reintegrate into the formal economy. We fund this particular issue to stem intergenerational trafficking and relapse rates of victims and survivors.</br></br>

Q. Can you fund my anti-human trafficking organization? </br>
A. At this time we are not funding any additional organizations but if your organization is a US 501-c-3 public charity that provides job training services to adult survivors of all types of human trafficking and exploitation we’d love to hear more about the work you are doing. Get in touch with us below.</br></br>

Q. I run a socially responsible establishment and am wondering how I get my establishment listed on your site? </br>
A. Very cool & thanks for the work you are doing! Get in touch with us below and we’ll have you answer a couple of quick (and painless) questions.</br></br>

Q. Can I suggest an establishment that I know is doing important work to be listed on Nomads? </br>
A. Sure can! Either point them towards our site or you can drop us a line with as much information as possible and why you think they are great.</br></br>

Q. Why do you only donate 1% of each sale? </br>
A. Because we are a small fish in a big pond and that’s how the travel industry works, unfortunately. As we grow though our commission structure will change and we will be able to increase our give. So be sure to shop Nomads and share with your friends so we can get there faster!</br></br>

Q. Is LOTUS Nomads a 501(c)-3 organization? </br>
A. We are not. Nomads is a venture of LOTUS Alliance LLC, which is a responsible business. As an organization encouraging and enabling businesses to operate responsibly we’re doing our best to lead by example; our b corp certification is in the works.</br></br>

Q. Are you hiring? </br>
A. We are not but if you are a travel writer or photographer and want to conspire graciously with us, we want to hear from you. Get in touch with us below. Be sure to include your LinkedIn profile and links to any publications and/or your Instagram.</br></br>

Q. How did LOTUS Nomads start? </br>
A. While in University, the founder, Arati Sureddi, worked at a restaurant in Boston. Sureddi came to find out just how poorly many of the workers were being treated by the owners. As Sureddi traveled and worked around the world she continued to see exploitation within service industries, a lack of support for adults in need and the legacy of exploitation on children. From this Nomads was born.</br>

</p>
                   
                    <form class="mt30">
                        <div class="row">
                            <div class="col-md-6">
        
                            </div>
                        </div>
                       
                    </form>
                </div>
                <div class="col-md-4">
                    <aside class="sidebar-right">
                        <ul class="address-list list">
                            <li>
                                <h5>Still Curious? Shout at Us!</h5>
                            </li>
                            <li>
                                <a href="hello@lotusnomads.org">Email</a>
                            </li>
                              <li>
                                <a href="hello@lotusnomads.org">Twitter</a>
                            </li>
                            
                           
                        </ul>
                    </aside>
                </div>
            </div>
            <div class="gap"></div>
        </div>



<%= render 'footer' %>
