<%= render './site/head' %>
<%= render './site/nav' %>

   <div class="container">
            <h1 class="page-title">Recommended Destinations</h1>
    </div>
        <div class="container">
            <div id="popup-gallery">
                <div class="row row-col-gap">
                    <div class="col-md-4">
                        <a class="hover-img popup-gallery-image" href="img/800x600.png" data-effect="mfp-zoom-out">
                            <img src="http://i.imgur.com/f94ztuG.jpg" alt="Sri Lanka Ridde Paddies" title="Responsible Bike Tour Sri Lanka" /><i class="fa fa-plus round box-icon-small hover-icon i round"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="gap"></div>


<%= render './site/footer' %>
