<%= render './site/head' %>
<%= render './site/nav' %>

 
        <div class="container">
        <div itemscope itemtype="http://schema.org/Restaurant">
            <h1 class="page-title" span itemprop="name"> ERB FROM TABLE Restaurant Name </span></h1>
        </div>




        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside class="sidebar-left">
                        <div class="sidebar-widget">
                            <div class="Form">
                                <input class="form-control" placeholder="Search..." type="text" />
                            </div>
                        </div>
                        <div class="sidebar-widget">
                            <h4>Categories</h4>
                            <ul class="icon-list list-category">
                                <li><a href="#"><i class="fa fa-angle-right"></i>Photos <small >(63)</small></a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Vacation <small >(94)</small></a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Flights <small >(56)</small></a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Travel Advices <small >(80)</small></a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Trending Now <small >(83)</small></a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Hotels <small >(89)</small></a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Places to Go <small >(69)</small></a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Travel Stories <small >(64)</small></a>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-widget">
                            <h4>Popular Posts</h4>
                            <ul class="thumb-list">
                                <li>
                                    <a href="#">
                                        <img src="img/70x70.png" alt="Image Alternative text" title="Viva Las Vegas" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">Jul 18, 2014</p>
                                        <h5 class="thumb-list-item-title"><a href="#">Molestie praesent</a></h5>
                                        <p class="thumb-list-item-desciption">Natoque rhoncus rhoncus sociis taciti</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/70x70.png" alt="Image Alternative text" title="4 Strokes of Fun" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">Jul 18, 2014</p>
                                        <h5 class="thumb-list-item-title"><a href="#">Eleifend dis</a></h5>
                                        <p class="thumb-list-item-desciption">Adipiscing ligula porttitor ipsum a</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/70x70.png" alt="Image Alternative text" title="Cup on red" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">Jul 18, 2014</p>
                                        <h5 class="thumb-list-item-title"><a href="#">Porta nunc</a></h5>
                                        <p class="thumb-list-item-desciption">Mattis a lacinia vulputate blandit</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-widget">
                            <h4>Twitter Feed</h4>
                            <div class="twitter" id="twitter"></div>
                        </div>
                        <div class="sidebar-widget">
                            <h4>Recent Comments</h4>
                            <ul class="thumb-list thumb-list-right">
                                <li>
                                    <a href="#">
                                        <img class="rounded" src="img/70x70.png" alt="Image Alternative text" title="Afro" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">6 minutes ago</p>
                                        <h4 class="thumb-list-item-title"><a href="#">Keith Churchill</a></h4>
                                        <p class="thumb-list-item-desciption">Erat praesent cursus taciti a dictum ridiculus...</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="rounded" src="img/70x70.png" alt="Image Alternative text" title="Gamer Chick" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">5 minutes ago</p>
                                        <h4 class="thumb-list-item-title"><a href="#">Joseph Hudson</a></h4>
                                        <p class="thumb-list-item-desciption">Iaculis faucibus etiam nisl facilisi massa ut...</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="rounded" src="img/70x70.png" alt="Image Alternative text" title="AMaze" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">5 minutes ago</p>
                                        <h4 class="thumb-list-item-title"><a href="#">Cheryl Gustin</a></h4>
                                        <p class="thumb-list-item-desciption">Tempor risus quisque egestas venenatis potenti lobortis...</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-widget">
                            <h4>Archive</h4>
                            <ul class="icon-list list-category">
                                <li><a href="#"><i class="fa fa-angle-right"></i>July 2014</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>June 2014</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>May 2014</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>April 2014</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>March 2014</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>February 2014</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>January 2014</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>December 2014</a>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-widget">
                            <h4>Gallery</h4>
                            <div class="row row-no-gutter">
                                <div class="col-md-4">
                                    <a class="hover-img" href="#">
                                        <img src="img/100x100.png" alt="Image Alternative text" title="The Big Showoff-Take 2" />
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="hover-img" href="#">
                                        <img src="img/100x100.png" alt="Image Alternative text" title="Spidy" />
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="hover-img" href="#">
                                        <img src="img/100x100.png" alt="Image Alternative text" title="b and w camera" />
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="hover-img" href="#">
                                        <img src="img/100x100.png" alt="Image Alternative text" title="Happy Bokeh Day" />
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="hover-img" href="#">
                                        <img src="img/100x100.png" alt="Image Alternative text" title="sunny wood" />
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="hover-img" href="#">
                                        <img src="img/100x100.png" alt="Image Alternative text" title="4 Strokes of Fun" />
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="hover-img" href="#">
                                        <img src="img/100x100.png" alt="Image Alternative text" title="Good job" />
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="hover-img" href="#">
                                        <img src="img/100x100.png" alt="Image Alternative text" title="a dreamy jump" />
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="hover-img" href="#">
                                        <img src="img/100x100.png" alt="Image Alternative text" title="Me with the Uke" />
                                    </a>
                                </div>
                            </div>
                        </div>
                  
                    </aside>
                </div>


                <div class="col-md-9">
                    <!-- START BLOG POST -->
                    <div class="article post">
                        <header class="post-header">
                            <a class="hover-img" href="#">
                                <img src="img/1200x500.png" alt="Image Alternative text" title="196_365" /><i class="fa fa-link box-icon-# hover-icon round"></i>
                            </a>
                        </header>
                        <div class="post-inner">
                    
                            <ul class="post-meta">
                                <li><i class="fa fa-calendar"></i><a href="#">ERB CREATED AT DATE</a>
                                </li>
                                <li><i class="fa fa-user"></i><a href="#">Carol Blevins</a>
                                </li>
                                <li><i class="fa fa-tags"></i><a href="#">Web</a>, <a href="#">Design</a>
                                </li>
                                <li><i class="fa fa-comments"></i><a href="#">11 Comments</a>
                                </li>
                            </ul>

                              

   <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
     <span itemprop="ratingValue">Star Rating </span> stars - 
     based on <span itemprop="reviewCount">Number of Reviews</span> reviews
   </div>


   <span itemprop="telephone">Phone Number</span>
   <a href="https://www.google.com/maps/place/Hilton+San+Francisco+Financial+District/@37.793672,-122.396319,15z/data=!4m2!3m1!1s0x0000000000000000:0xa49802f84f7ddb35" itemprop="maps">URL of Map</a> 

   Categories:    <span itemprop="servesCuisine">
   Cuisine Type   </span>

   Price Range: <span itemprop="priceRange">Price Range</span>
   Takes Reservations: Reservations Y or N
  </div>
                                  <h3>The Goods</h3>
                                  <p>ERB From TABLE </p></br>
                                  <h3>The Good</h3>
                                  <p>ERB FROM TABLE </p></br>

                                  <h3>Don't Miss</h3>
                                  <p>ERB FROM TABLE</p></br>

                                  <div class="gap"></div>

                                  <h4>Getting There</h4>
 <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress">Address </span>
    <span itemprop="addressLocality">City </span>,
    <span itemprop="addressRegion">State </span>
    <span itemprop="postalCode">Zip COde </span>
 </div>
                                  <p>ERB From TABLE</p></br>

                                  <h4>Learn More</h4>
                                  <p>ERB Website From TABLE</p>
                        </div>
                    </div>
              
                
                    <!-- END BLOG POST -->
  
<div class="gap"></div>
</div>
</div>
</div>


<%= render './site/footer' %>


