/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_font-awesome/font-awesome
 */
/*  #5fcbe7 Electric blue  
    #1b94d2 Standard blue 
    #1e95d7 blue link color
    #dff5fa Baby blue 
    #00cee7 Alt electric blue (no longer used)
    #5e5e5e Text copy gray
    #b7ccd3 Logo gray 
    #e7e6e3 gray backgrounds
    orange theme code #1b94d2; #5fcbe7

   font-family:"Candara", "TradeGothic", "Trebuchet MS", Helvetica, sans-serif;
  */
  .tab-content {
    opacity: .5;
  }
  .tab-content:hover {
    opacity: 1;
  }
  .hotel_thumb {
    height: 100px;
    width: 100px;
  }
  .hotels_list {
    display: inline-block;
    width: 800px;
  }
  .hotels_list li {
    list-style-type: none;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
  }

  .hotels_list img {
    padding-bottom: 10px;
  }
  
  .hotels_page {
    padding-bottom: 20px;
  }
  .form {
    padding: 10px;
  }

  .tripadvisor_img {
    height: 20px;
    width: 100px;
  }

  #myCarousel {
    margin: 0 auto;
    width: 80%;
  }
  #myCarousel img {
    max-height: 500px;
    min-height: 500px;
  }

  .description {
    border-left: 1px solid black;
    margin-top: 11%;
  }

  .book_button {
    background-color: #1b94d2;
    color: white;
    font-size: 32px;
  }

  .search_button {
    background-color: #1b94d2;
    color: white;
    font-size: 18px;
  }

  .hotel_title {
    text-align: center;
  }

 #destination {
   height: 40px;
   width: 400px;
 }

  #submit_button {
    margin-left: 20px;
  }

  .forms {
    height: 40px;
    width: 150px;
    border: 1px shadow grey;
  }

  .center_this {
    text-align: center;
  }
